body{
    
}
/*css for navbar*/
.navbar{
    background-color: #f5ede2!important;
}
.websiteLogo{
    height:5rem!important;
  
   
}
.topNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: .6rem;
}
.topNav a{
    text-decoration: none;
    font-size: 1rem;
    color: grey;
    font-weight: 700!important;
    
}
.navbar .collapse{
    
    font-size: 0.8rem!important;
    color: black;
    font-weight:700;
    flex-direction: column;
    align-items: flex-end;

}
.navbar-nav{
    background-color: white;
    width: 100%!important;
    justify-content: space-evenly;
    padding-bottom: 0.9rem;
}
.fa-brands{
    font-size: 1.0rem!important;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    color: #757833;

}
.fa-solid{
    font-size: 1.5rem!important;
    color: #757833;

}
.navbar-toggler{
    background-color:#8a785a;
    /*#8a6d3b*/
}

/*css for mainpage slider*/
.carousel-control-prev-icon, .carousel-control-next-icon{
    border: 2px solid white;
    border-radius: 50%;
}
.carousel-control-prev{
  left: -3rem;
}
.carousel-control-next{
    right: -3rem;
}
#carouselExampleFade{
    overflow: hidden;
}

/*css for treehousehideaways*/
.treeHouseCottages h1{
  color: #646b14;
  font-weight: 900;
  font-size: 2.5rem;
}
.treeHouseCottages h3{
    color: #646b14;
    font-style: italic;
    line-height: 1.2rem;
    font-weight: 400;
    font-size: 2.2rem;
    
  }
  .treeHouseCottages p{
    color:black;
   
    font-weight: 500;
    
  }
  .treeHouseCottagesSection{
    background-color: #f7f7f7;
  }
  .treeHouseCottagesSection .card{
   border: none;
   background-color: #f7f7f7;
  }
  .treeHouseCottagesSection .card-text{
    color:black;
   
    font-weight: 500;
   }
  .findMoreBtn{
    background-color: #2f1910;
    color: white;
  }
  .findMoreBtn:hover{
    background-color: rgb(47, 25, 16,0.8);
    color: white;
  }

  /*css for journal*/
  .journal .blogBtn{
    background-color: #646b14;
    color: white;
    padding: 0.5 0.25!important;
        
} 
.journal .blogBtn:hover{
    background-color: rgb(100, 107, 20,0.8);
    color: white;
        
}
.journal .card{
    border: none!important;
    
}

/*CSS FOR bhandavgarh Section*/
.bhandavgarhSection{
    padding-left: 0;
    padding-right: 0!important;
}
.bhandavgarhBanner{
    max-width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
    background: url("assets/images/bhandavgarhbanner.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
    
}
.bhandavgarhBanner p{
    font-size: 1.2rem;
    font-weight: 500;
}
.bhandavgarhSectionBtn{
    text-decoration: none;
    background-color: #646b14;
    color: white;
    padding:0.5rem 1rem!important;
}
.bhandavgarhSectionBtn:hover{
    
    background-color: rgb(100, 107, 20,0.7);
    color: white;
    
}

/*css for meettheteam section*/
.meetForm .myForm{
    border-top:10px solid #646b14;
    border-bottom:10px solid #646b14;
    border-left: 2px solid rgb(128, 128, 128, 0.3);
    border-right: 2px solid rgb(128, 128, 128, 0.3);
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.meetBtn{
    background-color: #bd9864;
    color: white;
}
.meetBtn:hover{
    background-color: rgb(189, 152, 100,0.8);
    color: white;
}
.meetTheTeam h2{
    
}
.content1, .content2, .content3{
 position: absolute;
   
   width: 100%;
   height: 100%;
   text-align: center;
   z-index: 1;
   
   justify-content: center;
   align-items: center;
   border: 2px solid #bd9864;
   color: white;
   background-color: rgb(0, 0, 0,0.5);
   display: none;
   
   
   
   
   
}
.team{
    
    position: relative;
}
.team:hover{
    
    cursor: pointer;
}
.meetTheTeam .col-8{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*css for footer*/
.footerbg{
    height: 70vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/images/footerbgimg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color: rgb(255, 255, 255, 1);
    font-style: italic;
    
}
.footerbgcolor{
    background-color: #f5ede2;
}

.footerbgcolor a:hover{
    color: #bd9864;
    cursor: pointer;
}
.footerbgcolor a{
    text-decoration: none;
    color: black;
}

.socialIconfooter .fa-brands{
    font-size: 1.0rem!important;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    color: #757833;

}
.socialIconfooter .fa-solid{
    font-size: 1.5rem!important;
    color: #757833;

}

/*mediaquery*/
@media (min-width: 0px) and  (max-width: 575.98px) { 
    /*navbar*/
    .topNav{
        display: none;
    }
    .navbar-nav{
        background-color: #8a785a;
        width: 100%;
        padding-bottom: 0.0rem;
      
    }
    .fa-solid{
        font-size: 1.5rem!important;
        color: white;
     
    }
    .nav-item{
        width: 100%;
        text-align: center;
        border-bottom: 2px solid rgb(255, 255, 255,0.2);
       
    }
    
    .nav-link{
        color: white!important;
        font-size: 1.25rem!important;
        font-weight: 400;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        
    }
    #carouselExampleFade img{
        height: 40vh;
    }
    
    /*css for treehousehideaways*/
    .treeHouseCottages h1{
        font-size: 2.1rem;
      }
      .treeHouseCottages h3{
         line-height: 2.1rem;
         font-size: 1.5rem;
      }

      /*css for journal*/
     .journal h2{
        font-size: 2.1rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem!important;
     }
     .journal .card-title{
        font-size: 1.2rem;
       
     }

     /*CSS FOR bhandavgarh Section*/
     
     .bhandavgarhSection h2{
        font-size:2.1rem ;

     }


     /*css for meetTheTeam*/
     .meetTheTeam{
        display: none!important;
     }

     /*css for footer*/
     .footer{
        margin-top: 2rem;
        
     }
     .footerbgcolor{
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
     }
     .footerbgcolor h6{
        font-size: 1.5rem;
     }
     

     
       



 }

 @media (min-width: 576px) and  (max-width: 767.98px) { 
    .topNav{
        display: none;
    }
    /*navbar*/
    .topNav{
        display: none;
    }
    .navbar-nav{
        background-color: #8a785a;
        width: 100%;
        padding-bottom: 0.0rem;
      
    }
    .fa-solid{
        font-size: 1.5rem!important;
        color: white;
     
    }
    .nav-item{
        width: 100%;
        text-align: center;
        border-bottom: 2px solid rgb(255, 255, 255,0.2);
       
    }
    
    .nav-link{
        color: white!important;
        font-size: 1.25rem!important;
        font-weight: 400;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        
    }
    #carouselExampleFade img{
        height: 40vh;
    }
    /*css for journal*/
    .journal h2{
        font-size: 2.1rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem!important;
     }
     .journal .card-title{
        font-size: 1.5rem;
       
     }
     /*CSS FOR bhandavgarh Section*/
     
     .bhandavgarhSection h2{
        font-size:2.1rem ;

     }
     /*css for meetTheTeam*/
     .meetTheTeam{
        display: none!important;
     }

     /**/

}

@media (min-width:768px) and  (max-width: 991.98px) {
    .topNav{
        display: none;
    } 
    /*navbar*/
    .topNav{
        display: none;
    }
    .navbar-nav{
        background-color: #8a785a;
        width: 100%;
        padding-bottom: 0.0rem;
      
    }
    .fa-solid{
        font-size: 1.5rem!important;
        color: white;
     
    }
    .nav-item{
        width: 100%;
        text-align: center;
        border-bottom: 2px solid rgb(255, 255, 255,0.2);
       
    }
    
    .nav-link{
        color: white!important;
        font-size: 1.25rem!important;
        font-weight: 400;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        
    }

    .meetTheTeam .row{
        flex-direction: column;
     }
     .meetTheTeam .col-8, .meetTheTeam .col-4{
       width: 100vw;
       margin-top: 2rem!important;
        margin-bottom: 2rem!important;
      }
     .meetTheTeam .col-8 .row .col-5{
        width: 100vw;
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
     }
     .meetTheTeam .col-8 .row .col-6{
        width: 100vw;
        margin-left: 0!important;
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
     }
     .meetTheTeam h2{
      margin-bottom: 1rem!important;
    }
     .myForm{
        border-top:10px solid #646b14;
        border-bottom:10px solid #646b14;
        border-left: 2px solid rgb(128, 128, 128, 0.3);
        border-right: 2px solid rgb(128, 128, 128, 0.3);
        padding-top: 5rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0rem!important;
        margin-bottom: 0rem!important;
    }
    

}


